<h1>This is the main page</h1>
<section id="main-content">
        <section class="wrapper site-min-height">
          <!-- <h3><i class="footera fa-angle-right"></i> Blank Page</h3> -->
          <div class="row mt loading">
            <div class="col-lg-12">
              <!-- <h2><%# @welcomemsg %></h2> -->
              <h2>A or B</h2>

            <table>
              <tr>
                <th colspan="5" align="center">A</th>
                <th colspan="5" align="center">B</th>
              </tr>
              <tr>
                <td colspan="5" align="center"><a href="/"><img src="<%= @image.first.image_url %>" class="img-circle" width="300"></td>
                <td colspan="5" align="center"><a href="/"><img src="<%= @image.second.image_url %>" class="img-circle" width="300"></td></td>
              </tr>
            </table>
            </div>
          </div>
        </section><!--/wrapper -->
      </section>
